@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 25px;
}
